@using Microsoft.AspNetCore.Components.Routing
<header class="absolute inset-x-0 top-0 z-50">
  <nav aria-label="Global" class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8">
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">@Constants.COMPANY_NAME</span>
        <img src="_content/NimbleLoop.WebApp.Ui/assets/logo.png" alt="NimbleLoop Logo" class="h-8 w-auto dark:hidden" />
        <img src="_content/NimbleLoop.WebApp.Ui/assets/logo-inversed.png" alt="NimbleLoop Logo Dark" class="h-8 w-auto not-dark:hidden" />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 dark:text-gray-200">
        <span class="sr-only">Open main menu</span>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
          <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      @foreach (var nav in NavigationLinks)
      {
        <NavLink class="text-sm/6 font-semibold text-foreground hover:text-secondary dark:text-foreground-dark dark:hover:text-secondary-dark" href="@nav.Value" Match="NavLinkMatch.Prefix">@nav.Key</NavLink>
      }
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="#" class="text-sm/6 font-semibold text-foreground dark:text-foreground-dark">Log in <span aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>
  <el-dialog>
    <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
      <div tabindex="0" class="fixed inset-0 focus:outline-none">
        <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-bg-light p-6 sm:max-w-sm sm:ring-1 sm:ring-bg-dark/10 dark:bg-bg-dark dark:sm:ring-gray-100/10">
          <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">@Constants.COMPANY_NAME</span>
              <img src="_content/NimbleLoop.WebApp.Ui/assets/emblem.png" alt="NimbleLoop Emblem" class="h-8 w-auto dark:hidden" />
              <img src="_content/NimbleLoop.WebApp.Ui/assets/emblem-inversed.png" alt="NimbleLoop Emblem Dark" class="h-8 w-auto not-dark:hidden" />
            </a>
            <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-foreground dark:text-foreground-dark">
              <span class="sr-only">Close menu</span>
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10 dark:divide-white/10">
              <div class="space-y-2 py-6">
                @foreach (var nav in NavigationLinks)
                {
                  <NavLink class="text-base/7 -mx-3 block rounded-lg px-3 py-2 font-semibold text-foreground hover:text-secondary dark:text-foreground-dark dark:hover:text-secondary-dark" href="@nav.Value" Match="NavLinkMatch.Prefix">@nav.Key</NavLink>
                }
              </div>
              <div class="py-6">
                <a href="#" class="text-base/7 -mx-3 block rounded-lg px-3 py-2.5 font-semibold text-foreground hover:bg-gray-50 dark:text-foreground-dark dark:hover:bg-white/5">Log in</a>
              </div>
            </div>
          </div>
        </el-dialog-panel>
      </div>
    </dialog>
  </el-dialog>
</header>

@code {
  [Parameter, EditorRequired]
  public Dictionary<string, string> NavigationLinks { get; set; } = [];
}